<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1>Posts</h1>
            <ul>
                <% postList.results.forEach(function(post) {%>
                    <li>
                        <h3><%= post.postedBy.username %></h3> 
                        <img src="<%= post.imageUrl %>" alt="Image loading" width = "200"/>
                        
                        <p>Likes <%=post.likedBy.length%> Dislikes <%=post.dislikedBy.length%></p>

                        <p>Posted at: <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss" ) %></p> 
                        <p><%= post.message %></p> 
                    </li>
                    <% }); %>
            </ul>
        </body>
        <%- include('_footer') -%>

</html>