<html lang="en-gb">
<%- include('_head') -%>
    <!-- <%- include('_header') -%> -->

        <body class = "user">
            <nav>
                <a class="link2" href="">My Face</a>
                <a class="link2" href="">Home</a>
                <a class="link2" href="/posts">Posts</a>
                <a class="link2" href="/users">Users</a>
                <a class="link2" href="/posts/create">+ New Post</a>
            </nav>
            
            <h1>
                <%= user.name %>
            </h1>
            <figure>
                <%=user.coverImageUrl%>
            </figure>
            <figure><%=user.profileImageUrl%></figure>
            <div>
            <img src = "https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501__480.jpg" alt = "Loading....">
            <img src = "https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501__480.jpg" alt = "Loading....">
            <img src = "https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501__480.jpg" alt = "Loading....">
        </div>
        </body>
        <%- include('_footer') -%>

</html>