<html lang="en-gb">
<%- include('_head') -%>
    <!-- <%- include('_header') -%> -->

        <body class="user">
            <nav id="nav-link">
                <a class="link2" href="">My Face</a>
                <a class="link2" href="">Home</a>
                <a class="link2" href="/posts">Posts</a>
                <a class="link2" href="/users">Users</a>
                <a class="link2" href="/posts/create">+ New Post</a>
            </nav>
            
            <h1>
                <%= user.name %>
            </h1>
            <div class="container4">
            <img id ="covImage" src="<%=user.coverImageUrl%>"/>
        
            <img id ="profImage" src="<%= user.profileImageUrl %>" />
            </div>
            <div class="container5">
                <% user.posts.forEach(function(post){ %>
                    <img src="<%=post.imageUrl %>"/>
                    <%=post.message %>
                    <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss" ) %>

                   
               <% }); %>

                <!-- // <img class="userimage"src="https://cdn.pixabay.com/photo/2016/06/13/09/57/meeting-1453895__480.png" width="300"/> 
                // <img class="userimage"src="https://cdn.pixabay.com/photo/2016/06/13/09/57/meeting-1453895__480.png" width="300"/> 
                // <img class="userimage"src="https://cdn.pixabay.com/photo/2016/06/13/09/57/meeting-1453895__480.png" width="300"/>  -->
                       </div>
            
        </body>
        <%- include('_footer') -%>

</html>