<html lang="en-gb">
<%- include('_head') -%>
    <!-- <%- include('_header') -%> -->

        <body class="user">
            <nav id="nav-link">
                <a class="link2" href="">My Face</a>
                <a class="link2" href="">Home</a>
                <a class="link2" href="/posts">Posts</a>
                <a class="link2" href="/users">Users</a>
                <a class="link2" href="/posts/create">+ New Post</a>
            </nav>
            
            <h1>
                <%= name %>
            </h1>
            <div class="container4">
            <img id ="covImage" src="<%=coverImageUrl%>" width="80%"/>
        
            <img id ="profImage" src="<%= profileImageUrl %>" />
            </div>
            <div class="container5">
                <img src="https://cdn.pixabay.com/photo/2016/06/13/09/57/meeting-1453895__480.png" /> 
                <img src="https://cdn.pixabay.com/photo/2016/06/13/09/57/meeting-1453895__480.png" /> 
                <img src="https://cdn.pixabay.com/photo/2016/06/13/09/57/meeting-1453895__480.png" /> 
                       </div>
            
        </body>
        <%- include('_footer') -%>

</html>