<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Users</h1>
<ol>
    <div class = "container3">
    <% results.forEach(function(user) {%>
        <li>
            <h3><%= user.name %></h3> 
            <a href="./user_detail.ejs"><%= user.username %></a>
            <p>E-mail id: <%= user.email %></p>
        </li>
        
        
    <% }); %>
</div>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>