<html lang="en-gb">
<%- include('_head') -%>
    <!-- <%- include('_header') -%> -->

        <body>
            <nav>
                <a class="link2" href="">My Face</a>
                <a class="link2" href="">Home</a>
                <a class="link2" href="/posts">Posts</a>
                <a class="link2" href="/users">Users</a>
                <a class="link2" href="/posts/create">+ New Post</a>
            </nav>
            
            <h1>
                <%= user.name %>
            </h1>
            <figure>
                <%=user.coverImageUrl%>
            </figure>
            <figure><%=user.profileImageUrl%></figure>
        </body>
        <%- include('_footer') -%>

</html>